<a href="https://colab.research.google.com/github/sadullahmath/SeaBorn/blob/master/AnimalTypeModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Training a Random Forest Classifier

In [0]:
import pandas as pd

In [0]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/openml_phpZNNasq.csv'

In [0]:
df = pd.read_csv(file_url)

In [4]:
df.head()

     animal   hair  feathers   eggs  ...   tail  domestic  catsize    type
0  aardvark   True     False  False  ...  False     False     True  mammal
1  antelope   True     False  False  ...   True     False     True  mammal
2      bass  False     False   True  ...   True     False    False    fish
3      bear   True     False  False  ...  False     False     True  mammal
4      boar   True     False  False  ...   True     False     True  mammal

[5 rows x 18 columns]

In [0]:
df.drop(columns='animal', inplace=True)

In [0]:
y = df.pop('type')

In [7]:
df.head()

    hair  feathers   eggs   milk  ...  legs   tail  domestic  catsize
0   True     False  False   True  ...     4  False     False     True
1   True     False  False   True  ...     4   True     False     True
2  False     False   True  False  ...     0   True     False    False
3   True     False  False   True  ...     4  False     False     True
4   True     False  False   True  ...     4   True     False     True

[5 rows x 16 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.4, random_state=188)

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
rf_model = RandomForestClassifier(random_state=42)

In [12]:
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [13]:
train_preds = rf_model.predict(X_train)
train_preds

array(['mammal', 'mammal', 'mammal', 'fish', 'mammal', 'insect', 'fish',
       'bird', 'mammal', 'mammal', 'fish', 'bird', 'reptile', 'bird',
       'fish', 'mammal', 'mammal', 'bird', 'bird', 'mammal', 'bird',
       'bird', 'mammal', 'invertebrate', 'reptile', 'invertebrate',
       'fish', 'bird', 'mammal', 'mammal', 'amphibian', 'mammal',
       'invertebrate', 'mammal', 'mammal', 'insect', 'mammal', 'fish',
       'invertebrate', 'mammal', 'invertebrate', 'invertebrate', 'insect',
       'amphibian', 'mammal', 'reptile', 'amphibian', 'invertebrate',
       'mammal', 'fish', 'bird', 'mammal', 'mammal', 'bird', 'mammal',
       'mammal', 'fish', 'mammal', 'bird', 'fish'], dtype=object)

In [0]:
from sklearn.metrics import accuracy_score

In [15]:
train_acc = accuracy_score(y_train, train_preds)
print(train_acc)

1.0

In [0]:
test_preds = rf_model.predict(X_test)

In [17]:
test_acc = accuracy_score(y_test, test_preds)
print(test_acc)

0.9024390243902439